
.grid-container {
  width: 55%;
  margin: 0 auto;
}

.tile { 
  width: 23%;
  height: 125px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
}

.tile-value { 
  text-align: center;
  line-height: 90px;
}

.blank-tile { 
  background-color: lightyellow;
}

.2-tile { 
  background-color: lightorange;
}


.4-tile { 
  background-color: lightgreen;
}


.8-tile { 
  background-color: lightblue;
}


.16-tile { 
  background-color: lightgreen;
}


.32-tile { 
  background-color: lightgray;
}

.64-tile { 
  background-color: lightpurple;
}

.128-tile { 
  background-color: lightmaroon;
}

.128-tile { 
  background-color: lightyellow;
}

.256-tile { 
  background-color: lightyellow;
}

.512-tile { 
  background-color: lightyellow;
}

.1024-tile { 
  background-color: lightyellow;
}

.2048-tile { 
  background-color: lightyellow;
}

.4096-tile { 
  background-color: lightyellow;
}

.8192-tile { 
  background-color: lightyellow;
}

.16384-tile { 
  background-color: lightyellow;
}







